name: Build Heltec
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: arduino/setup-arduino-cli@v1
    - run: arduino-cli core install esp32:esp32
    - run: |
        arduino-cli lib install "ESP8266 and ESP32 OLED driver for SSD1306 displays"
        arduino-cli lib install "Adafruit SHT31 Library"
    - run: |
        # Компилируем
        arduino-cli compile --fqbn esp32:esp32:esp32s3 .
        
        # Создаем папку для всех файлов
        mkdir -p firmware_files
        
        # Копируем ВСЕ файлы прошивки
        find . -name "*.bin" -exec cp {} ./firmware_files/ \;
        find . -name "*.elf" -exec cp {} ./firmware_files/ \;
        find . -name "*.map" -exec cp {} ./firmware_files/ \;
        
        echo "Файлы в firmware_files:"
        ls -la ./firmware_files/
    - uses: actions/upload-artifact@v4
      with:
        name: firmware_pack
        path: ./firmware_files/
