name: Build Heltec
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: arduino/setup-arduino-cli@v1
    - run: arduino-cli core install esp32:esp32
    - run: arduino-cli lib install "ESP8266 and ESP32 OLED driver for SSD1306 displays"
    - run: arduino-cli compile --fqbn esp32:esp32:esp32s3 .
    - uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: ./Heltek.ino.esp32s3.bin
