name: Build Heltec
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: arduino/setup-arduino-cli@v1

      - run: arduino-cli core install esp32:esp32

      - run: |
          arduino-cli lib install "ESP8266 and ESP32 OLED driver for SSD1306 displays"
          arduino-cli lib install "Adafruit SHT31 Library"
          arduino-cli lib install "AS5600"
          arduino-cli lib install "NimBLE-Arduino"

      # ===== СБОРКА =====
      - run: |
          mkdir -p build
          arduino-cli compile \
            --fqbn esp32:esp32:esp32s3 \
            --build-path build \
            --export-binaries \
            Heltek.ino

      # ===== ОСТАВЛЯЕМ ТОЛЬКО merged.bin =====
      - run: |
          mkdir -p firmware
          find build -type f -name "*.merged.bin" -exec cp {} firmware/ \;
          echo "Оставшиеся файлы:"
          ls -la firmware

      # ===== АРТЕФАКТ =====
      - uses: actions/upload-artifact@v4
        with:
          name: heltec_firmware
          path: firmware/*.merged.bin
