name: Build Heltec
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: arduino/setup-arduino-cli@v1
    - run: arduino-cli core install esp32:esp32
    - run: arduino-cli compile --fqbn esp32:esp32:esp32s3 .
