name: Build Heltec Test
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - uses: arduino/setup-arduino-cli@v1
    - name: Install ESP32 core
      run: arduino-cli core install esp32:esp32
    - name: Install libraries
      run: |
        arduino-cli lib install "ESP8266 and ESP32 OLED driver for SSD1306 displays"
    - name: Compile sketch
      run: |
        # Компилируем и выводим список созданных файлов
        arduino-cli compile --fqbn esp32:esp32:esp32s3 --output-dir ./build .
        echo "Содержимое папки build:"
        ls -la ./build/
        echo "Копируем все .bin файлы"
        cp ./build/*.bin ./
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: ./*.bin
